<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="icon" href="/static/ico/favicon.ico" mce_href="/static/ico/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/static/ico/favicon.ico" mce_href="/static/ico/favicon.ico" type="image/x-icon">
    <title>{{ TITLE }}</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<!--<div id='stars'></div>-->
<!--<div id='stars2'></div>-->
<!--<div id='stars3'></div>-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<script type="text/javascript">
	var shell = "{{ SHELL }}";
	function getShell()
	{
		return shell;
	}

	function sendAjax(url, command, successFuc)
	{
		var result = "";
		$.ajax({
			type:"get",
			async:false,
			url: url,
			data:{},
			dataType:"json",
			success:function(data){
				result = successFuc(command, $.parseJSON(data))
			},
			error:function(data){
				console.log("get error -> " + data);
				result = "command error"
			}
		});
		return result;
	}
</script>

<iframe src="/static/html/index_inside.html" frameborder="no" border="0" id="insidePage"></iframe>
</body>
</html>
